
%footer.footer
  %small
    ©2015 P3 Data Systems. All Rights Reserved. 
  %nav
    %ul
      %li
        %a{:href => "http://www.twitter.com"}
          %i.fa.fa-twitter.fa-lg
      %li
        %a{:href => "http://www.facebook.com"}
          %i.fa.fa-facebook-official.fa-lg
      %li
        %a{:href => "http://plus.google.com/"}
          %i.fa.fa-google-plus.fa-lg
      %li
        %a{:href => "https://www.youtube.com/watch?v=5ragVPmwWtk"}
          %i.fa.fa-youtube.fa-lg

